ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.contact-bg {
  background-image: url("../../../assets/images/bg/wood.jpg");
}
.contact {
  position: relative;
  padding: 120px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact .outer-box {
  position: relative;
  z-index: 9;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
}

.contact .text-column {
  position: relative;
}

.contact .text-column .inner-column {
  position: relative;
  padding: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.contact .text-column .message {
  position: relative;
  font-size: 30px;
  line-height: 1.4em;
  color: #353535;
  font-weight: 500;
  margin-bottom: 25px;
}

.contact .text-column .message strong {
  font-size: 42px;
}

.contact .text-column .text {
  position: relative;
  margin-bottom: 50px;
}

.info-block {
  position: relative;
}

.info-block .inner-box {
  position: relative;
  text-align: center;
  padding: 30px 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 20px;
}

.info-block .icon {
  position: relative;
  display: inline-block;
  font-size: 42px;
  margin-bottom: 20px;
  color: #ab7442;
}

.info-block ul li {
  position: relative;
  font-size: 16px;
  line-height: 1.6em;
  color: #353535;
  font-weight: 400;
}

.info-block ul li strong {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.info-block ul li a {
  color: #353535;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.info-block ul li a:hover {
  color: #ab7442;
}

.contact .form-column {
  position: relative;
}

.contact .form-column .inner-column {
  position: relative;
}

.request-form {
  position: relative;
  padding: 50px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.request-form:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ab7442;
  content: "";
  opacity: 0.95;
}

.request-form h3 {
  font-size: 28px;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: 600;
}

.request-form .form-group {
  position: relative;
  margin-bottom: 15px;
}

.request-form .form-group:last-child {
  margin-bottom: 0;
}

.request-form .form-group input[type="text"],
.request-form .form-group input[type="email"],
.request-form .form-group input[type="url"],
.request-form .form-group textarea,
.request-form .form-group select {
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  padding: 9px 20px;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.15) !important;
  font-weight: 400;
  border-radius: 2px;
  height: 40px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.request-form .form-group textarea {
  height: 180px;
  resize: none;
}

.request-form .form-group button {
  position: relative;
  display: block;
  width: 100%;
}
